*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbardesign{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.logo img{
 width: 200px;
 height: 120px;
 border-radius: 10px;
}

.name{
  align-items: center;
  display: flex;
}



.dynamic{


  align-items: center;
  display: flex;
  gap: 20px;
  padding: 15px;
}

.dynamic .links {
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: 200;
  
}

.parent{
margin-left: 20px;
  margin-top: 5px;
  
  
}


.banner img{
border-radius: 10px;
  width: 99%;
  height: 580px;

}



.string{

margin-top: 5px;
align-items: center;
gap: 10px;
display: flex;
padding: 10px;
flex-direction: column;

width: 88%;
background-color: black;
color: aliceblue;
justify-content: center;
text-align: center;
margin-left: 8%;
 border-radius: 10px;
}

.heroimg img{
height: 400px;
width: 700;
border-radius: 10px;
}


.ternary img{
height: 400px;
width: 700;
border-radius: 10px;
align-items: center;
display: flex;
justify-content: center;
margin-left: 35%;
margin-top: 20px;
}

.array{
  margin-top: 10px;
  height: 120px;
  width: 280px;
  align-items: center;
  padding: 4px;
  background-color: rgb(19, 54, 158);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 42%;
  border-radius: 10px;
}

.booking{
  text-align: center;
  margin-top: 20px;
}

.ticketmain{
  background-color: rgb(254, 250, 250);
  color: rgb(253, 249, 249);
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 5px;
   
  
  
  
  
}

.ticketimage img{
  width: 340px;
  height: 180px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
 
}

.parenttickets{

  background-color: gray;
  border-radius: 10px;
  margin-top: 10px;
}

.bookkticket{

  padding: 3px;
  margin-left: 5px;
}

.story{
  background-color: blueviolet;
  color: white;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
  height: 250px;
  margin-top: 25px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 3%;
}

.details{
  background-color: blueviolet;
  color: white;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
  height: 250px;
  margin-top: 25px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 3%;
}

